
<!DOCTYPE html>

<html lang="es">
<!-- Include Head -->
<!--Preguntar a sebi xq me deja aca y no en partials-->
<%- include('./partials/head') %> 

<body>
    
	<%- include('./partials/header') %>

   
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">LOGIN</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<section class="form-register">
					<form method="get" name="form-register">
						<input class="form-input" type="email" name="Email" placeholder="Email o Usuario">
						<input class="form-input" type="password" name="Contraseña" placeholder="Contraseña">
						<input type="checkbox" placeholder="" href="/users/register"> Recordar
						<a class="btn mt-3 ml-4" href="/users/profile">INGRESAR</a>
	
					</form>
				</section>
			</h2>
		</div>
	</div>
	<%- include('./partials/footer') %>
</body>

</html>