<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %> 
<body>
	
	<!-- Header -->
 <%- include('./partials/headerLogeado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="product.ejs" method="get">
					<input type="file" name="imagen" id="">
					<label for="">Nombre del Producto</label>
					<input type="text" name="nombre-producto" id="">
					<label for="">Descripción</label>
					<input type="text" name="description" id="">
				</form>
			
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>