<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %> 
<body>
	
	<!-- Header -->
	<% if (locals.user != undefined) { %> 
		<%-include('partials/headerLogeado') %>
	 <% } else { %> 
		<%- include('partials/header') %> 
    <% } %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="product-add" method="post" enctype="multipart/form-data">
					<input type="file" name="foto_producto" id="">
					<label for="">Nombre del Producto</label>
					<input type="text" name="titulo" id="">
					<label for="">Descripción</label>
					<input type="text" name="descripcion" id="">
				</form>
			
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>