<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %> 
<body>
	
   <%- include('./partials/header') %> 

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">REGISTRATE</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="login.ejs" method="get">
		</div>
		<div class="x">
			</section>			<section class="form-register">
				<form method="post" action="/users/register" name="form-register">
					<input class="form-input" type="email" name="email" id="nombres" placeholder="Email">
					<input class="form-input" type="text" name="usuario" id="nombres" placeholder="Nombre de usuario">
					<input class="form-input" type="password" name="password" id="nombres"
						placeholder="Contraseña">
					<input class="form-input" type="date" name="brithdate" id="nombres"
						placeholder="Fecha de nacimiento">
					<input class="form-input" type="file" name="foto" id="nombres" placeholder="Foto de perfil">
					<button type="submit"  class="btn mt-3 ml-4" >REGISTRARSE</button>
				</form>
			</section>
		</div>				
			</h2>
	</div>

	<%- include('./partials/footer') %> 
</body>

</html>