<html>
    <head>
        <link rel="stylesheet" href="../public/css/estilos.css">
    </head>
    <body>
        <h1>Login</h1>
        <form action="POST" action="/users/login">
            <label for="">Nombre</label>
            <input type="text" name="nombre">
        </form>
    </body>
</html>