<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %> 
<body>
	
	<!-- Header -->
	<%- include('./partials/header') %> 
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">HARRY POTTER: EL CÁDIZ DE FUEGO</h2> 
			<p class="product-detail-description">
				<a href="product-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="./images/products/harryPotter.png" alt="" class="product-detail-img">
					<p class="product-detail-description">
						Harry Potter y el cáliz de fuego es el cuarto libro de la serie literaria Harry Potter, escrita por la autora británica J. K. Rowling en 2000.</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="profile">Alejandro Vívone</a> </strong>
								 Donde lo consigo?</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile">Ana</a> </strong>
									Me gustó más el anterior</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile">Facundo Torrez</a> </strong>
									Excelente libro!! hay parte II?
									</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile">Facundo Torrez</a> </strong>
									Excelente libro!! hay parte II?
									</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile">Josefina Frugoni</a> </strong>
									Recomiendo este libro, es muy interesante!</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile">Sebastian Rellihan </a> </strong>
									Esperaba más...</p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">COMENTAR</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->


	<!-- /footer -->


	<%- include('./partials/footer') %> 


</body>	
</html>