<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %> 
<body>
	
   <%- include('./partials/header') %> 

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">REGISTRATE</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="login.ejs" method="get">
		<div class="x">
			</section>			<section class="form-register">
				<form method="get" name="form-register">
					<input class="form-input" type="email" name="Nombre" id="nombres" placeholder="Email">
					<input class="form-input" type="text" name="Usuario" id="nombres" placeholder="Nombre de usuario">
					<input class="form-input" type="password" name="Contraseña" id="nombres"
						placeholder="Contraseña">
					<input class="form-input" type="date" name="Nombre" id="nombres"
						placeholder="Fecha de nacimiento">
					<input class="form-input" type="number" name="Nombre" id="nombres"
						placeholder="Número de documento">
					<input class="form-input" type="file" name="Nombre" id="nombres" placeholder="Foto de perfil">
					<p>Estoy de acuerdo con <a href="/users/register"> Terminos y condiciones</a></p>
					<a class="btn mt-3 ml-4" href="/users/profile">REGISTRARSE</a>
				</form>
			</section>
		</div>				
			</h2>


	<%- include('./partials/footer') %> 
</body>

</html>